.App {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width:960px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #699e3c;
  border-bottom: 1px solid #302718;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #C7ab59;
  text-shadow: -1px 0 #302718, 0 5px #302718, 1px 0 #302718, 0 -1px #302718;
}
.App-link {
  color: #61DAFB;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(45deg, #699E3C 45px, transparent 45px)64px 64px,
  linear-gradient(45deg, #699E3C 45px, transparent 45px,transparent 91px, #DED2A8 91px, #DED2A8 135px, transparent 135px),
  linear-gradient(-45deg, #699E3C 23px, transparent 23px, transparent 68px,#699E3C 68px,#699E3C 113px,transparent 113px,transparent 158px,#699E3C 158px);
  background-color:#ded2a8;
  background-size: 128px 128px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-link {
  background-color: #699E3C;
  border: 2px solid #302718;
  color: #C7AB59;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.login-div {
  background-color: #699E3C;
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  align-items: center;
}

.sign-up-link {
  color: #C7ab59;
  font-size: calc(10px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.sign-up-link:hover {
  color: #302718;
  transition: 0.5s;
}

.sign-up-link:active{
  color: #302718;
  transition: 0.5s;
}

.login-div {
  background-color: #699e3c;
  margin: auto;
  width: 60%;
  border: 1px solid #302718;
  padding: 10px;
  align-items: center;
  margin-top: 10%;
  border-radius: 5px;
}

.login-title {
  color: #C7ab59;
  font-size: calc(10px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
}

.login-form {
  width: 75%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #302718;
  background-color: #ded2a8;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  color: #C7ab59;
  font-size: calc(10px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
  border: none;
  background-color: transparent;
}

.login-button:hover {
  color: #302718;
  transition: 0.5s;
}

.login-button:active{
  color: #302718;
  transition: 0.5s;
}

.App-body {
  background-color: #699e3c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='77' height='107' viewBox='0 0 77 107'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='stamp-collection' fill='%23302718' fill-opacity='0.12'%3E%3Cpath d='M46 101a5 5 0 0 1 5 5h5a5 5 0 0 1 10 0h5a5 5 0 0 1 5-5v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10v-5a5 5 0 0 1 0-10V6a5 5 0 0 1-5-5h-5a5 5 0 0 1-10 0h-5a5 5 0 0 1-10 0h-5a5 5 0 0 1-10 0h-5a5 5 0 0 1-10 0H6a5 5 0 0 1-5 5v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 0 10v5a5 5 0 0 1 5 5h5a5 5 0 0 1 10 0h5a5 5 0 0 1 10 0h5a5 5 0 0 1 5-5zm15-2a7 7 0 0 0-6.71 5h-1.58a7 7 0 0 0-13.42 0h-1.58a7 7 0 0 0-13.42 0h-1.58a7 7 0 0 0-13.42 0H7.71A7.01 7.01 0 0 0 3 99.29v-1.58a7 7 0 0 0 0-13.42v-1.58a7 7 0 0 0 0-13.42v-1.58a7 7 0 0 0 0-13.42v-1.58a7 7 0 0 0 0-13.42v-1.58a7 7 0 0 0 0-13.42v-1.58A7 7 0 0 0 3 9.29V7.71A7.02 7.02 0 0 0 7.71 3h1.58a7 7 0 0 0 13.42 0h1.58a7 7 0 0 0 13.42 0h1.58a7 7 0 0 0 13.42 0h1.58a7 7 0 0 0 13.42 0h1.58A7.02 7.02 0 0 0 74 7.71v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7 7 0 0 0 0 13.42v1.58a7.01 7.01 0 0 0-4.71 4.71h-1.58A7 7 0 0 0 61 99zM12 12h53v83H12V12zm51 81H14V14h49v79z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: auto;
  width: 60%;
  border: 1px solid #302718;
  padding: 10px;
  align-items: center;
  margin-top: 10%;
  border-radius: 5px;
}

.stamp-card {
  background-color: #C7ab59;
  margin: auto;
  width: 60%;
  height: 150px;
  border: 1px solid #302718;
  padding: 10px;
  align-items: center;
  margin-top: 10%;
  border-radius: 5px;
}

.card-row {
  position: relative;
  right: 10px;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  height: 30px;
}

.stamp {
  background-color: #ece6d0;
  color: #699e3c;
  position: relative;
  right: 3%;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 18px;
  width: 40px;
  height: 30px;
}

.stamp:active {
  background-color: #301b18;
}
.stamp:focus {
  background-color: #302718;
}
:target {
  background-color: #302718;
}

#business {
  position: relative;
  top: 100px;
  color: #302718;
  font-size: calc(10px + 2vmin);
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

#stamp-counter {
  font-size: calc(10px + 2vmin);
  color: #C7ab59;
  text-shadow: -1px 0 #302718, 0 3px #302718, 3px 0 #302718, 0 -1px #302718;
}

.claimReward {
  color: #C7ab59;
  font-size: calc(20px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
  border: none;
  background-color: transparent;
}

.modal_content {
  font-size: calc(10px + 2vmin);
  color: #C7ab59;
  text-shadow: -1px 0 #302718, 0 3px #302718, 3px 0 #302718, 0 -1px #302718;
 
}

#stamp-code {
  font-size: calc(10px + 2vmin);
  color: #C7ab59;
  text-shadow: 1px 0 #302718, 0 2.25px #302718, -2px 0 #302718, 0 2px #302718;
}

#submit-button {
  color: #C7ab59;
  font-size: calc(5px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
  border: none;
  background-color: transparent;

}

.useReward {
  color: #C7ab59;
  font-size: calc(20px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
  border: none;
  background-color: transparent;
}

#milk-offer {
    animation:blinkingText 1.2s infinite;
    font-size: calc(20px + 2vmin);
    text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
}
@keyframes blinkingText{
    0%{     color: #C7ab59;    }
    49%{    color: #C7ab59; }
    60%{    color: #ffffff; }
    99%{    color: #ffff;  }
    100%{   color: #000;    }
    
}

.close {
  color: #C7ab59;
  font-size: calc(20px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
  border: none;
}
