.App {
  text-align: center;
}



.App-header {
  background-color: #699e3c;
  border-bottom: 1px solid #302718;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #C7ab59;
  text-shadow: -1px 0 #302718, 0 5px #302718, 1px 0 #302718, 0 -1px #302718;
}



body {
  background: linear-gradient(45deg, #699e3c 45px, transparent 45px)64px 64px,
  linear-gradient(45deg, #699e3c 45px, transparent 45px,transparent 91px, #ded2a8 91px, #ded2a8 135px, transparent 135px),
  linear-gradient(-45deg, #699e3c 23px, transparent 23px, transparent 68px,#699e3c 68px,#699e3c 113px,transparent 113px,transparent 158px,#699e3c 158px);
  background-color:#ded2a8;
  background-size: 128px 128px;
  text-align: center;
}

.sign-up-link {
  color: #C7ab59;
  font-size: calc(10px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.sign-up-link:hover {
  color: #302718;
  transition: 0.5s;
}

.sign-up-link:active{
  color: #302718;
  transition: 0.5s;
}

.login-div {
  background-color: #699e3c;
  margin: auto;
  width: 60%;
  border: 1px solid #302718;
  padding: 10px;
  align-items: center;
  margin-top: 10%;
  border-radius: 5px;
}

.login-title {
  color: #C7ab59;
  font-size: calc(10px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
}

.login-form {
  width: 75%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #302718;
  background-color: #ded2a8;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  color: #C7ab59;
  font-size: calc(10px + 2vmin);
  text-shadow: -1px 0 #302718, 0 2px #302718, 1px 0 #302718, 0 -1px #302718;
  border: none;
  background-color: transparent;
}

.login-button:hover {
  color: #302718;
  transition: 0.5s;
}

.login-button:active{
  color: #302718;
  transition: 0.5s;
}